body,
html {
	--bg-color: #212121;
	--color-primary: #fffd;
	margin: 0;
	padding: 0;
	color: var(--color-primary);
	background-color: var(--bg-color);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
	color: var(--color-primary);
	text-decoration: none;
}

.h-box {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.v-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
